@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    background: #fef6e4;
}

* {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

#casilla {
    background-color: aqua;
}

nav a:hover {
    text-decoration: underline;
    cursor: crosshair;
}

li {
    list-style-type: none;
}

nav ul {

    /* Modelo de diseño flexible */
    display: flex;									
    justify-content: space-around;
   
}

section form {

    /* Modelo de diseño en cuadrícula */
    display: grid;									
    row-gap: 0.5rem;

}

/*#resumen {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 24vh;
    flex-wrap: wrap;
}

#resumen h2, #resumen p {
    width: 50%;
}

#resumen img {
    max-width: 50%;
}*/

#resumen {
    display: grid;
    justify-content: space-around;
    align-items: stretch;
    grid-template-areas: "A D" 
                         "B D";
}

#resumen h2 {
    grid-area: A;
}

#resumen p {
    grid-area: B;
}

#resumen img {
    grid-area: D;
}

footer ul {
    /*display: inline-block; /* Esto permite centrar el <ul> */
    /*text-align: center; /* Centra el texto dentro de <ul> */
    list-style-type: none;
    margin: 0 auto; /* Centro horizontalmente */
    padding: 0; /* Elimina el padding si es necesario */
    /*display: block; /* Asegúrate de que se comporte como un bloque */
    text-align: center;
    width: fit-content; /* O ajusta el ancho según tus necesidades */
}

h1 {
    color: red;
    text-align: center;
    font-weight: bold;
}

#photo {
    /* Ancho del elemento */
    width: 200px;

    /* Alto del elemento */
    height: auto;
}

.subtitle {

    /* Color del texto en rgba */
    color: rgb(107 114 128 / 0.89);

    /* Transformación del texto a mayúsculas */
    text-transform: uppercase;
}

section {

    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px;

    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd;

    /* relleno (espacio interno) de 
    1.5% en la parte superior e inferior y 
    0.8% a los lados derecho e izquierdo. */

    padding: 1.5% 0.8%;

    /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
    dándoles un valor específico de 1.2% para esos lados. */

    padding-left: 1.2%;
    padding-right: 1.2%;

    /* borde redondeado con un radio de 5 píxeles */

    /* en navegadores basados en WebKit, 
   como versiones antiguas de Safari y Chrome. */
    -webkit-border-radius: 5px;

    /* en navegadores antiguos de Mozilla, 
   como Firefox.  */
    -moz-border-radius: 5px;

    /* en navegadores modernos. */
    border-radius: 5px;

    /* sombra a un elemento */

    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}